@charset "utf-8";
.mySlides {
	position:absolute;
    bottom: 187px;
    right: 184px;
	border-radius: 60px;
	}
.mySlides:hover{
	opacity: 0.7;
}
.parent {
	position: relative;
    top: 0;
    left: 0;}
.tv {
	position: relative;
	top:0;
	left:0;}
.popcorn{
	position:absolute;
	bottom: 70px;
	left: 200px;}
.popcorn1{
	position:absolute;
	bottom: 188px;
	left: 200px;}
.popcorn2{
	position:absolute;
	bottom: 70px;
	left: 350px;}
.popcorn3{
	position:absolute;
	bottom: 188px;
	left: 350px;}
.left {
	position:absolute;
	bottom: 320px;
	right: 715px;
}
.right {
	position:absolute;
	bottom: 320px;
	right: 150px;
}
.audio{
	position: absolute;
	bottom: 10px;
	left: 180px;
}
.tv_audio{
	position: absolute;
	bottom: 80px;
	right: 290px;
}